 /*body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  } */

  body {
    font-family: system-ui;
    background: #06f06f;
    color: white;
    text-align: center;
  }